{% extends "layout.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='sign.css')}}">
{% endblock links %}

{% block content %}
<div class="body-wrapper">
    <main class="form-signin">
      <form action="{{ url_for('signup')}}" method="POST">
        <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input name="firstname" type="text" class="form-control" id="floatingInput" placeholder="John">
            <label for="floatingInput">First name</label>
        </div>

        <div class="form-floating">
            <input name="lastname" type="text" class="form-control" id="floatingInput" placeholder="Doe">
            <label for="floatingInput">Last name</label>
        </div>
    
        <div class="form-floating">
          <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-3 mb-3 text-muted">Already have an account <a href="{{ url_for('login')}}">Login</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </div>
{% endblock content%}